body {
    background-color: #f1f3f5;
}

.login-box {
    max-width: 400px;
    margin: auto;
    margin-top: 10vh;
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}




.register-box {
    max-width: 600px;
    margin: auto;
    margin-top: 5vh;
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}


 .error-msg {
      color: #dc3545;
      margin-bottom: 1rem;
      font-weight: 600;
      text-align: center;
    }